footer {
    background: linear-gradient(135deg, #000, #333);
    color: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
    /*bottom: 0;*/
}

footer .fab.fa-twitter{
	font-family:sans-serif;
}
footer .fab.fa-twitter::before{
	content:"𝕏";
	font-size:1.2em;
}

.highlight {
    color:  tomato; /* Tomato */
    font-weight: bold;
  }

footer p {
    margin: 0;
    font-size: 1rem;
}

footer .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer .social-media a:hover {
    color: tomato; /* Tomato color */
    transform: translateY(-3px);
}