.main-content {
    background: linear-gradient(88deg, #000, #333);
    animation: fadeIn 1s ease-in-out;
    padding-top: 1px;
    padding-bottom: 1px;
}

header {
    text-align: center;
    padding: 80px 20px;
    position: relative;
    overflow: hidden;
}