
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.logo-img{
    width: 100px;
    height: 100px;
    animation: fadeIn 2s ease-in-out;
}

nav {
    background: linear-gradient(135deg, #000, #333);;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.hamburger-menu .line {
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger-menu.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

nav a {
    display: inline-flex;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 4px;
    margin: 0 0.25rem;
    transition: all 0.3s ease;
}

nav a:hover,
nav a:focus {
    background-color: #ff6347;
    color: black;
    outline: none;
    transition: color 0.3s ease;
}

nav a:hover {
    transform: translateY(-2px);
}

nav a:active {
    background-color: #ff6347;
    color: white;
    transition: color 0.3s ease;
}

nav .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}

nav .navbar-links li {
    margin: 0.5rem 0;
    display: inline;
}

nav .navbar-links li{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav .navbar-links li:hover {
    color: #ff6347; /* Tomato color */
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media screen and (max-width: 768px) {

    .logo-img{
        width: 50px;
        height: 50px;
    }

    nav {
        flex-direction: column;
        padding: 0.5rem;
    }
    .hamburger-menu {
        display: flex;
    }
    .hamburger-menu.show {
        display: flex;
    }

    nav .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        top: 75px;
        gap: 6px;
        right: 200px;
        width: 200px;
        left: 30%;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
    }

    nav .navbar-links.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    nav .navbar-links li {
        margin: 0.5px 0;
    }

    nav a {
        font-size: 1.2rem;
    }
}