#portfolio-items {
    /*  Grid version goes to the elft
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 20px;
    place-items: center;*/

    /* centered */
    display: flex; /* Establishes flex context */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
    gap: 20px; /* Optional: Adds space between items */
}


.portfolio-item {
    display: block;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 1s ease-in-out;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-container {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.image-container h2, .image-container p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background for text */
    border-radius: 5px;
    color: white;
  }

  .image-container:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }

@media (max-width: 768px) {
    .lightbox .lb-image {
      max-width: 80%; /* Smaller width for mobile */
      max-height: 80%; /* Adjust height */
    }
  }