#portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.5rem;
    padding: 20px;
    place-items: center;
}


.portfolio-item {
    display: block;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeInUp 1s ease-in-out;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-container {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.image-container h2, .image-container p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background for text */
    border-radius: 5px;
    color: white;
  }

  .image-container:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  

  
/* Ensure buttons are properly positioned */
.lightbox .lb-prev,
.lightbox .lb-next {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  z-index: 1000; /* Ensure they appear above the image */
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* Position the previous button to the left */
.lightbox .lb-prev {
  left: 20px; /* Adjust as needed */
}

/* Position the next button to the right */
.lightbox .lb-next {
  right: 20px; /* Adjust as needed */
}

/* Customize the close button */
.lightbox .lb-close {
  position: absolute;
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  z-index: 1100; /* Ensure it appears above everything */
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
    .lightbox .lb-image {
      max-width: 80%; /* Smaller width for mobile */
      max-height: 80%; /* Adjust height */
    }
  }