
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

div:empty {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  margin: 0;
  padding: 0;
  color: #000000;
  overflow-x: hidden;
}

section {
  padding: 80px 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Touch device optimizations */
@media (hover: hover) and (pointer: fine) {
  .portfolio-item:hover {
      transform: translateY(-10px);
  }
}

/* iOS-specific fixes */
@supports (-webkit-touch-callout: none) {
  html, body {
      height: -webkit-fill-available;
  }
}

/* Platform-specific scrollbar styles */
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
      ::-webkit-scrollbar {
          width: 8px;
          background-color: var(--bg-color);
      }
      
      ::-webkit-scrollbar-thumb {
          background-color: var(--secondary-color);
          border-radius: 4px;
      }
  }
}

@media  (max-width: 768px){
  /* Typography */
  header h1 { font-size: 2em; }
  header p { font-size: 1em; }
}

@media (max-width: 480px) {
  header h1 { font-size: 1.5em; }
  header p { font-size: 0.9em; }
}